.container {
  position: relative;
  height: 100%;
}

.overviewWrapper {
  position: absolute;
  left: 15%;
  right: 0;
  padding: 0 40px;
  height: auto;
  background-color: var(--fifth-color);
  color: var(--first-color);
}

.chartBoxWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chartBox {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--sixth-color);
}

.chartBox h2 {
  margin: 0;
}

.small {
  height: 300px;
  width: 400px;
}

.mid {
  height: 550px;
  width: 620px;
}

.large {
  height: 400px;
  width: 100%;
  max-width: 1280px;
}

.successRateWrapper {
  display: flex;
  flex-direction: row;
}

.listWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.recentSuccessRate {
  margin: 0px 30px;
  height: 100%;
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recentSuccessRate h1 {
  font-size: 6em;
  margin: 10px 0px;
}

.overYearsSuccessRate {
  height: 100%;
  width: 70%;
}

.listBox {
  height: auto;
  width: 620px;
  padding: 0;
}

.second_color_text {
  color: var(--second-color);
}
