.container {
  position: relative;
  height: 100%;
}

.overviewWrapper {
  position: absolute;
  left: 15%;
  right: 0;
  padding: 0 40px;
  height: 100%;
}

.chartBoxWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chartBox {
  /* background-color: gray; */
  margin: 20px;
}

.chartBox h2 {
  margin: 0;
}

.mid {
  height: 400px;
  width: 600px;
}

.large {
  height: 500px;
  width: 100%;
  max-width: 1240px;
}

.successRateWrapper {
  height: 400px;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
}

.recentSuccessRate {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overYearsSuccessRate {
  height: 100%;
  width: 70%;
}
