.container {
  position: relative;
  height: 100%;
}

.resultWrapper {
  position: absolute;
  left: 15%;
  right: 0;
  padding: 0 40px;
  height: auto;
  background-color: var(--fifth-color);
  color: var(--first-color);
}

.columnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.rowBasline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.rowBasline h1 {
  font-size: 3em;
  margin: 15px 10px;
}

.score h1 {
  font-size: 8em;
  margin: 0;
  color: var(--second-color);
}

.textBox {
  background-color: var(--forth-color);
  margin: 30px;
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
}

.textBox hr {
  background-color: var(--first-color);
  border: none;
  height: 5px;
  width: 100%;
  margin: 0;
}

.chartBoxWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.chartBox {
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
  background-color: var(--sixth-color);
}

.chartBox h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.large {
  height: 400px;
  width: 100%;
  max-width: 1280px;
}

.mid {
  height: 450px;
  width: 620px;
}

.small {
  height: 300px;
  width: 400px;
}

.rankInfoWrapper {
  width: 100%;
  margin-top: 20px;
}

.continueButton {
  background-color: var(--first-color);
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 4px;
  margin-bottom: 20px;
  color: white;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.loading {
  background: transparent url('https://i.imgur.com/jcpSSun.gif') no-repeat;
  background-position: center;
  height: 80px;
  width: 80px;
}
.listBox {
  height: auto;
  padding: 0;
}
