.sidebar {
  position: fixed;
  right: 0;
  height: 100%;
  width: 20%;
  min-width: 250px;
  background-color: var(--forth-color);
  color: var(--first-color);
}

.title {
  text-align: center;
}

.subTitle {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}

.subTitle > span {
  font-size: 18px;
}

.info {
  margin: 0 10%;
}

.words {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.word {
  background-color: var(--sixth-color);
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}
