.customButton {
  fill: var(--third-color);
}

.active {
  fill: #eaeceb;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.text {
  fill: white;
}

.active_text {
  fill: black;
}

.svg {
  margin-left: 2px;
  margin-right: 2px;
  overflow: visible;
}
