html,
body {
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  --first-color: #6C584C;
  --second-color: #A98467;
  --third-color: #86B847;
  --fourth-color: #D4E290;
  --fifth-color: #F0EAD2;
  --sixth-color: #ffffff;
}

.react-datetime-picker__wrapper {
  border: 0;
}

.react-datetime-picker__button {
  padding: 4px 8px;
}

.react-datetime-picker__button svg {
  stroke: var(--first-color);
  stroke-width: 1;
}

.react-datetime-picker__inputGroup {
  font-weight: 200;
  font-size: 0.8rem;
  padding: 8px;
}
